<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thabo's blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
     <link rel="stylesheet" href="{% static 'css/component.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">

		<link rel="shortcut icon" href="../favicon.ico">

		<script src="{% static 'js/modernizr.custom.js' %}"></script>


    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

 <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
 <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css">
<!-- optional -->


    <style>

        body {
	        background: #34495e;
         }


    </style>
</head>
<body>

<div id="container" style="height: 200px">
</div>
<div style="width: 100%; margin: 0 auto; height: 100px; text-align:center;">
<div >


</div>
<table id="example" class="display" width="100%">

</table>

</div>

<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li>
									<a class="gn-icon gn-icon-download" href="http://127.0.0.1:8000/graph">BAR GRAPH</a>
									<ul class="gn-submenu">
										<li><a class="gn-icon gn-icon-illustrator">GEOLOCATION</a></li>
										<li><a class="gn-icon gn-icon-photoshop">LINE CHART</a></li>
									</ul>
								</li>
								<li><a class="gn-icon gn-icon-cog">SCATTER PLOT</a></li>
								<li><a class="gn-icon gn-icon-help">PIE CHART</a></li>
								<li>
								</li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				<li><a href="http://127.0.0.1:8000/">Home</a></li>
				<li><a class="codrops-icon codrops-icon-prev" href="http://127.0.0.1:8000/"><span>About</span></a></li>
				<li><a class="codrops-icon codrops-icon-drop" href="http://127.0.0.1:8000/"><span>Contact Us</span></a></li>
			</ul>





		</div><!-- /container -->

        <script src="{% static 'js/classie.js' %}"></script>
		<!--<script src="js/gnmenu.js"></script>-->
        <script src="{% static 'js/gnmenu.js' %}"></script>
        <script src="{% static 'js/classie.js' %}"></script>

		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>














<script type="text/javascript">
$(document).ready(function() {

var employees = {{employees|safe}};
console.log(employees);



var emplo=[
  {
    "phone_number": "0824478876",
    "gender": "M",
    "github_user": "Captain",
    "days_to_birthday": 145,
    "age": 36,
    "race": "B",
    "user": {
      "username": "captain",
      "first_name": "Captain",
      "last_name": "America",
      "is_active": true,
      "email": "captain@gmail.com",
      "is_staff": true,
      "id": 8
    },
    "years_worked": 3,
    "birth_date": "1981-07-30",
    "position": {
      "sort": 0,
      "level": "Senior",
      "id": 1,
      "name": "Front-end Developer"
    },
    "email": "captain@gmail.com"
  },
  {
    "phone_number": "0837788876",
    "gender": "M",
    "github_user": "Gary",
    "days_to_birthday": 155,
    "age": 27,
    "race": "W",
    "user": {
      "username": "employee4",
      "first_name": "Gary",
      "last_name": "Player",
      "is_active": true,
      "email": "gary.player@gmail.com",
      "is_staff": true,
      "id": 11
    },
    "years_worked": 1,
    "birth_date": "1990-08-09",
    "position": {
      "sort": 0,
      "level": "Junior",
      "id": 2,
      "name": "Back-end Developer"
    },
    "email": "gary.player@gmail.com"
  },
  {
    "phone_number": "0875677663",
    "gender": "M",
    "github_user": "TangentSolutions",
    "days_to_birthday": 291,
    "age": 34,
    "race": "W",
    "user": {
      "username": "admin",
      "first_name": "Ian",
      "last_name": "Roberts",
      "is_active": true,
      "email": "ian@tangentsolutions.co.za",
      "is_staff": true,
      "id": 5
    },
    "years_worked": 7,
    "birth_date": "1983-12-23",
    "position": {
      "sort": 0,
      "level": "Senior",
      "id": 1,
      "name": "Front-end Developer"
    },
    "email": "ian@tangentsolutions.co.za"
  },
  {
    "phone_number": "0832322778",
    "gender": "M",
    "github_user": "zuma",
    "days_to_birthday": 186,
    "age": 46,
    "race": "B",
    "user": {
      "username": "jacob.zuma",
      "first_name": "Jacob",
      "last_name": "Zuma",
      "is_active": true,
      "email": "zumu@gov.co.za",
      "is_staff": true,
      "id": 4
    },
    "years_worked": 4,
    "birth_date": "1971-09-09",
    "position": {
      "sort": 0,
      "level": "Junior",
      "id": 2,
      "name": "Back-end Developer"
    },
    "email": "zumu@gov.co.za"
  },
  {
    "phone_number": "0873722777",
    "gender": "M",
    "github_user": "JamesDean",
    "days_to_birthday": 23,
    "age": 37,
    "race": "I",
    "user": {
      "username": "james.dean",
      "first_name": "James",
      "last_name": "Dean",
      "is_active": true,
      "email": "james@email.com",
      "is_staff": true,
      "id": 2
    },
    "years_worked": 2,
    "birth_date": "1980-03-30",
    "position": {
      "sort": 0,
      "level": "Senior",
      "id": 1,
      "name": "Front-end Developer"
    },
    "email": "james@email.com"
  },
  {
    "phone_number": "0827767889",
    "gender": "M",
    "github_user": "bloggs",
    "days_to_birthday": 300,
    "age": 23,
    "race": "N",
    "user": {
      "username": "employee1",
      "first_name": "Joe Employee 1",
      "last_name": "Bloggs",
      "is_active": true,
      "email": "bloggs@gmail.com",
      "is_staff": true,
      "id": 9
    },
    "years_worked": 1,
    "birth_date": "1995-01-01",
    "position": {
      "sort": 0,
      "level": "Senior",
      "id": 1,
      "name": "Front-end Developer"
    },
    "email": "bloggs@gmail.com"
  },
  {
    "phone_number": "0828899987",
    "gender": "M",
    "github_user": "PravG",
    "days_to_birthday": 280,
    "age": 66,
    "race": "B",
    "user": {
      "username": "pravin.gordhan",
      "first_name": "Pravin",
      "last_name": "Gordhan",
      "is_active": true,
      "email": "pravin@axedmps.com",
      "is_staff": true,
      "id": 12
    },
    "years_worked": 1,
    "birth_date": "1951-12-12",
    "position": {
      "sort": 0,
      "level": "Senior",
      "id": 3,
      "name": "Project Manager"
    },
    "email": "pravin@axedmps.com"
  },
  {
    "phone_number": "0872828817",
    "gender": "F",
    "github_user": "suebeans",
    "days_to_birthday": 198,
    "age": 27,
    "race": "C",
    "user": {
      "username": "sue.beans",
      "first_name": "Sue",
      "last_name": "Beans",
      "is_active": true,
      "email": "sue@tangent.co.za",
      "is_staff": true,
      "id": 6
    },
    "years_worked": 2,
    "birth_date": "1990-09-21",
    "position": {
      "sort": 0,
      "level": "Junior",
      "id": 2,
      "name": "Back-end Developer"
    },
    "email": "sue@tangent.co.za"
  },
  {
    "phone_number": "0744925023",
    "gender": "M",
    "github_user": "SuperGitMan",
    "days_to_birthday": 347,
    "age": 37,
    "race": "W",
    "user": {
      "username": "employee3",
      "first_name": "Super",
      "last_name": "Man",
      "is_active": true,
      "email": "super.man@tangent.co.za",
      "is_staff": true,
      "id": 3
    },
    "years_worked": 1,
    "birth_date": "1981-02-17",
    "position": {
      "sort": 0,
      "level": "Senior",
      "id": 1,
      "name": "Front-end Developer"
    },
    "email": "mike@tangentsolutions.co.za"
  },
  {
    "phone_number": "0728998700",
    "gender": "F",
    "github_user": "thandi",
    "days_to_birthday": 338,
    "age": 30,
    "race": "B",
    "user": {
      "username": "employee2",
      "first_name": "Thandi",
      "last_name": "Plain",
      "is_active": true,
      "email": "thandi@gmail.com",
      "is_staff": true,
      "id": 10
    },
    "years_worked": 1,
    "birth_date": "1988-02-08",
    "position": {
      "sort": 0,
      "level": "Senior",
      "id": 3,
      "name": "Project Manager"
    },
    "email": "thandi@gmail.com"
  }
];

    $('#example').DataTable( {
        data: employees,
        columns: [
        	{ "data": "user.first_name" },
        	{ "data": "user.last_name" },
        	{ "data": "user.username" },
        	{ "data": "user.is_active" },
        	{ "data": "user.is_staff" },
        	{ "data": "user.id" },
        	{ "data": "position.name" },
        	{ "data": "position.level" },
        	{ "data": "position.id" },
            { "data": "phone_number" },
            { "data": "gender" },
            { "data": "github_user" },
            { "data": "days_to_birthday." },
            { "data": "age" },
            { "data": "race" },
            { "data": "years_worked" },
            { "data": "birth_date" },
            { "data": "email" }
        ]
    } );




} );





</script>
</body>

</html>